@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0%;
    margin: 0%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 450px){


    header {
        display: block;
        height: 110px;
        background-color: #26acbb;
        background-size: 100% !important;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.322);
    }
    
    .menu-mobile {
        background-color: #1a909b;
        background-size: 100% !important;
        text-align: center;
    } 
    
    nav {
        background-color: #093336f6;
        position: relative;
    }
    
    nav > a {
        color: white;
        text-decoration: none;
        font-size: 20px;
        text-align: center;
        padding: 15px;
        display: block;
    }
    
    nav {
        display: none;
    }

    #ingles, #pt {
        margin: 0px;
        padding: 0px;
        width: 20px;
        height: 20px;
    }
    
    .idioma {
        display: inline-block;
    }
    
    #indexlink {
        text-decoration: none;
        color: white;
    }
    
    h1 {
        font-size: 23px;
        color: white;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    span {
        padding-left: 15px;
    }
    
    div > #menu {
        font-size: 35px;
        color: white;
    }

h2 {
    font-size: 20px;
    text-align: left;
    color: #093336;
    padding-left: 15px;
    padding-top: 20px;
}

footer {
    background-color: #26acbb;
    padding: 10px;
    overflow: auto;
    color: white;
}

address {
    font-style: normal;
    padding: 10px;
}

.fa-github {
    color: white;
    font-size: 20px;
    padding: 3px;
}

.gridSection {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding-top: 30px;
}

.gridSection > div {
    padding-bottom: 20px;
}

.membros {
   width: 85%;
   display: block;
   margin: auto;
}

#imgpessoa {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 10px;
    display: block;
    margin: auto;

}

#forte {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#email {
    font-size: 15px;
}

p {
    text-align: center;
    font-size: 17px;
    padding-bottom: 10px;
}

.fa, .fab {
    font-size: 17px;
    color: black;
    padding: 5px;
}


.egressos {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 17px;
}

li {
    list-style: none;
    padding-left: 40px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#arrumaLista {
   font-weight: bold;
   padding-left: 20px;
   padding-bottom: 10px;

}
}

@media screen and (min-width: 900px) and (max-width: 1800px){

    header {
        display: flex;
        width: 100%;
        height: 100px;
        background-color: #26acbb;
        background-size: 100% !important;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.322);
    }

    #indexlink {
        text-decoration: none;
        color: white;
    }

    nav {
        padding-top: 37px;
    }

    nav > a {
        font-size: 18px;
        padding-right: 20px;
        padding-left: 20px;
        color: white;
        text-decoration: none;
    }

    nav > .paginas:hover {
        background-color: rgba(71, 71, 71, 0.74);
        height: 20px;
        border-radius: 5px;
    }

    nav > a > #ingles, #pt {
        display: inline-flex;
        margin: 0px;
        width: 20px;
        height: 20px;
    }

    .idioma {
        padding: 0%;
    }
    
    h1 {
       padding-top: 20px;
       padding-left: 60px;
       font-size: 25px;
       color: white;
       float: left;
       width: 20%;
    }

    #menu {
        display: none;
    }

    h2 {
        color: #093336;
        padding-left: 15px;
        padding-top: 30px;
    }

.gridSection {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding-top: 30px;
}

.gridSection > div {
    padding-bottom: 20px;
}

.membros {
   width: 85%;
   display: block;
   margin: auto;
}

#imgpessoa {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 10px;
    display: block;
    margin: auto;

}

#forte {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#email {
    font-size: 15px;
}

p {
    text-align: center;
    font-size: 17px;
    padding-bottom: 10px;
}

.fa-file-text-o, .fa, .fab {
    font-size: 17px;
    color: black;
    padding: 5px;
}

#github {
    font-size: 18px;
    padding: 0%;
    color: white;
}

.egressos {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 17px;
}

li {
    list-style: none;
    padding-left: 100px;
    padding-bottom: 10px;
}

#arrumaLista {
   font-weight: bold;
   padding-left: 60px;
   padding-bottom: 10px;

}
    
    .rodape {  
        background-color: #26acbb;
        background-size: 100% !important;
        overflow: auto;
        width: 100%;
    }
    
    address {
        font-style: normal;
        color: white;
        padding: 30px;
    }
    
    #endereço {
        float: left;
        width: 60%;
    }
    
    #creditos {
        float: right;
        width: 30%;
    }
    
    #github {
        color: white;
        font-size: 20px;
    }
    
    span {
        padding-left: 30px;
    }
    
}